<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
  </head>
  <body>
   {{>header}}
    <div class="about-container">
      <div class="profile">
        <img  src="/img/tormke-img.jpeg" alt="tornike" />
        <p>Hello! My name is Tornike. Nice to see you on my Weather page.</p>
      </div>
      <div>
        
        <p>Get weather information for any place, around the world.</p>
        <p>Who cares about weather for all around the world, but anyways enjoy.</p>
        <p>sunny</p>
      </div>
    </div>
    {{>footer}}
  </body>
</html>